.reactions {
    display: flex;
    border: 2px solid black;
    border-radius: 20px;
}

.reaction {
    display: flex;
    align-items: center;
}

.reaction--image {
    border: none;
    background: none;
}

.btn-outline-dark {
    color:black !important;
    border-color: black !important;
    border-width: 2px !important
}

.btn-outline-dark:hover {
    color:white !important;
    border-color: white !important;
    border-width: 2px !important
}