.postListItem,
.postListItem--col-left,
.postListItem--col-right {
  display: flex;
  align-items: center;
  line-height: 1;
}

.postListItem {
  justify-content: space-between;
  align-items: center;
}

.postListItem p {
  margin-bottom: 0;
}

.postListItem__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

.postListItem__author {
  align-self: flex-end;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.postListItem__author,
.postListItem__category,
.postListItem .confirmableDeleteButtonContainer {
  color: #333;
}