.postListItem__title {
  font-size: 1.5rem;
  line-height: 1.1;
}

.postListItem__author {
  font-size: 0.9rem;
}

.postListItem__categoryName {
  font-size: 1.1rem; 
}

.postListItem__author,
.postListItem__category,
.postListItem .confirmableDeleteButtonContainer {
  color: #333;
}