.postDetail__header--row {
    display: flex;
    justify-content: space-between;
}

/* these are borrowed from PostListItem */
.postDetail p {
    margin-bottom: 0;
}

.postDetail__title {
    font-size: 1.5rem;
    font-weight: bold;
}

.postDetail__authorOptions {
    display: flex;
    margin: 10px;
}

.postDetail__category {
  font-size: 1.5rem;
}

.btn-primary {
    margin-left: 10px;
}
