.userPostListItem,
.userPostListItem--col-left,
.userPostListItem--col-right {
  display: flex;
  align-items: center;
}

.userPostListItem {
  justify-content: space-between;
  align-items: center;
}

.userPostListItem p {
  margin-bottom: 0;
}

.userPostListItem__title {
  font-size: 1.5rem;
  font-weight: bold;
}